.viewemployeebtn {
    background-color: steelblue;
    border:none;
    padding:2px 40px
}

.tdname{
    width: 100px;
    text-align: center;
    padding: 10px;
    padding-right: 3px;
}

.tdlast{
    width: 100px;
    padding: 10px;
    
}

.tdposition{
    width: 100px;
    text-align: center;
    padding: 10px;
    padding-right: 3px;

}

.tdbutton{
    width: 270px;
    text-align: center;
    padding: 10px;
    

}