.section {
    padding: 80px;

}

.details {
    display: flex;
    width: 60%;

}

.txtinfo {
    margin-left: 100px;
}

.reportbtn {
    margin-left: 400px;
    color: black;
    background-color: steelblue;
    border: none;
}

.subheader {
    margin-top: 40px;

}

.rectangle {
    width: 1000px;
    border: 2px solid black;

}


.assignbtn {
    margin-right: 200px;
    background-color: steelblue;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}


.info {
    margin-left: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    align-items: center;
}

.grid-container-tasks {
    display: grid;
    grid-template-columns: 100px 1000px;
    align-items: center;
}